<script src="/static/node_modules/vuetify/dist/vuetify.js"></script>
<script src="/static/node_modules/jquery/dist/jquery.js"></script>
<script src="/static/node_modules/axios/dist/axios.js"></script>

<link rel="stylesheet" href="/static/node_modules/vuetify/dist/vuetify.css">